<head>
    <link rel="stylesheet"
        href="/Sources/Components/ProfessionalExperience/professionalExperienceStyles.css">
</head>

<div id="professionalExperience">
    <p id="professionalExperienceTitled">{{professionalExperienceTitle}}</p>
    <ul id="professionalExperienceItems">
        <li class="professionalExperienceItem">
            <p class="professionalExperienceDate">{{startDate}} -
                {{endDate}}</p>
            <div class="professionalExperienceHeader professionalIndentation">
                <p class="professionalExperienceTitle">{{title}}</p>
                <p class="professionalExperienceCompany">{{company}}</p>
            </div>
            <p class="professionalExperienceSummary professionalIndentation">{{summary}}</p>
        </li>

        <li class="professionalExperienceItem">
            <p class="professionalExperienceDate">{{startDate}} -
                {{endDate}}</p>
            <div class="professionalExperienceHeader professionalIndentation">
                <p class="professionalExperienceTitle">{{Tittle}}</p>
                <p class="professionalExperienceCompany">{{Company}}</p>
            </div>
            <p class="professionalExperienceSummary professionalIndentation">{{summary}}</p>
        </li>
    </ul>
</div>