<head>
    <link rel="stylesheet"
        href="/Sources/Components/EducationSection/educationSectionStyle.css">
</head>

<div id="educationSection">
    <p id="educationTitle">{{educationTitle}}</p>
    
    <ul id="educationItemsContainer">
        <li class="educationItemContainer">
            <p class="educationDate">{{startDate}} - {{endDate}}</p>
            <p class="educationTitle educationIndentation">{{title}}</p>
            <p class="educationOrganization educationIndentation">{{organization}}</p>
            <p class="educationSummary educationIndentation">{{summary}}</p>
        </li>
        <li class="educationItemContainer">
            <p class="educationDate">{{startDate}} - {{endDate}}</p>
            <p class="educationTitle educationIndentation">{{title}}</p>
            <p class="educationOrganization educationIndentation">{{organization}}</p>
            <p class="educationSummary educationIndentation">{{summary}}</p>
        </li>
    </ul>

</div>