
<head>
    <link rel="stylesheet" href="/Sources/Components/Skills/skillsStyle.css">
</head>

<div id="skillsContainer">
    <p id="skillsTitle">{{skillsSectionTitle}}</p>
    <div id="skillsLevelContainer">
        <div class="skillItem">
            <p class="skillItemTitle">{{skillTitle}}</p>
            <div class="progressBar">
                <div class="progressBarFill">
                </div>
            </div>
        </div>
        <div class="skillItem">
            <p class="skillItemTitle">{{skillTitle}}</p>
            <div class="progressBar">
                <div class="progressBarFill">
                </div>
            </div>
        </div>
    </div>
</div>