
<head>
    <link rel="stylesheet" href="/Sources/Components/Skills/skillsStyle.css">
</head>

<div id="skillsContainer">
    <h3 id="skillsTitle">{{skills}}</h3>
    <div id="skillsLevelContainer">
        <div id="skillItem">
            <p id="skillItemTitle">{{skillTitle}}</p>
            <div id="progressBar">
                <div id="progressBarFill">
                </div>
            </div>
        </div>
        <div id="skillItem">
            <p id="skillItemTitle">{{skillTitle}}</p>
            <div id="progressBar">
                <div id="progressBarFill">
                </div>
            </div>
        </div>
    </div>
</div>