<head>
    <link rel="stylesheet"
        href="Sources/Components/LanguageSection/languageSectionStyles.css">
</head>

<div id="languageSectionContainer">
    <p class="languageTitle">{{languageTitle}}</p>
    <div id="languageItems">
        <div class="languageItem">
            <p class="languageItemTitle">{{title}}</p>
            <div class="languageProgressBar">
                <div class="languageProgressBarColor"> </div>
            </div>
        </div>
        <div class="languageItem">
            <p class="languageItemTitle">{{title}}</p>
            <div class="languageProgressBar">
                <div class="languageProgressBarColor"> </div>
            </div>
        </div>
    </div>
</div>
