@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
    font-family: "Urbanist", sans-serif;

}

#languageSectionContainer {
    margin: 0;
    color: dimgrey;
}

.languageItems {
    display: flex;
    flex-direction: row;
}


.languageItem {
    margin-right: 14px;
    color: dimgrey;
    margin-bottom: 32px;
}

.languageTitle {
    font-size: 24px;
    padding-bottom: 16px;
    font-weight: 600;
}

.languageItemTitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}

.languageProgressBar {
    height: 3px;
    width: 120px;
    background-color: lightgray;
}


.languageProgressBarColor {
    height: 100%;
    width: 50%;
    background-color: #76ABAE;
}