<head>
    <link rel="stylesheet"
        href="/Sources/Components/WhereIAmSection/whereIAmSectionStyles.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<div id="whereIAmContainer">
    <p id="whereIAmTitle">{{whereIAmTitle}}</p>

    <div id="whereIAmItems">
        <div class="whereIAmItem">
            <i class="{{icon}} whereIAmIcon"></i>
            <a class="whereIAmURL" href="{{url}}">{{title}}</a>
        </div>

        <div class="whereIAmItem">
            <i class="fa-brands fa-square-github whereIAmIcon"></i>
            <a class="whereIAmURL" href="{{url}}">{{title}}</a>
        </div>

    </div>

</div>