html,
body {
  margin: 0;
  background-color: #401F71;
   animation: fadeIn 0.35s ease-in-out;
}


@keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }



.textLoading {
  display: flex;
  align-self: center;
  justify-content: center;

  color: #EEEEEE;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;

}

.loadingContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
}


@-webkit-keyframes rotate-clockwise {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes rotate-clockwise {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@-webkit-keyframes flip-opacity {
  0%, 100% {
    opacity: 1;
    transform: scaleX(1);
  }
  49.999999% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scaleX(1);
  }
  50.0000001% {
    opacity: 1;
  }
}
@keyframes flip-opacity {
  0%, 100% {
    opacity: 1;
    transform: scaleX(1);
  }
  49.999999% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scaleX(1);
  }
  50.0000001% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate-counter-clockwise {
  0% {
    transform: rotateZ(180deg);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate-counter-clockwise {
  0% {
    transform: rotateZ(180deg);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.loadingIcon {
  margin: 20px;
  color: #76ABAE;
  -webkit-animation:
    rotate-clockwise 3s linear 0s infinite,
    flip-opacity 7s linear 0s infinite,
    rotate-counter-clockwise 3s linear 0s infinite;
  animation:
    rotate-clockwise 3s linear 0s infinite,
    flip-opacity 7s linear 0s infinite,
    rotate-counter-clockwise 3s linear 0s infinite;
}
